/*reset and global styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

h1 {
    width: 100%;
    text-align: center;
}


/* customer login */

.customer-login {
    background-color: #eee;
    h1 {
        margin: 1rem;
    }
}

.customer-name {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, .15);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .15);
    width: 500px;
    padding: 1rem;
    input[type=text] {
        margin: 1rem;
        font-size: 1.2rem;
        width: 100%;
        outline: none;
        border: 1px solid #4a4a4a;
        border-radius: 5px;
        padding: 10px;
    }
    a {
        margin: 0rem 1rem;
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        width: 100%;
        outline: none;
        border-radius: 5px;
        background-color: #f49d2c;
        color: #fff;
        padding: 10px;
    }
}

/* customer order */ 

/* start coffees galery */

.coffee-galery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: 385px;
  grid-column-gap: 10px;
  grid-row-gap: 45px;
  /*grid-gap: 10px;*/
}
.coffee-galery__item {
  border-radius: 5px;
  padding: 10px;
  opacity: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      
  }
  div
  {
    margin: 1rem;
    height: 295px;
    text-align: center;
    p {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 45%; 
    }
    button{
      padding: 5px 10px;
      border-radius: 4px;
      border:1px solid #4a4a4a
    }
  }
  
  
}


/* end carousel */
